<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form method="POST" action="/">
        <label for="shipname">Ship:</label><br>
        <input type="text" id="shipname" name="shipname"><br>

        <label for="countryname">Country:</label><br>
        <input type="text" id="countryname" name="countryname"><br>

        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year">
        <input type="submit" value="Submit">
    </form>
</body>
</html>